.App {
  text-align: left;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

.textClass{
  color: darkgray;
}

button{
  color: darkgray;
  background-color: #052532;
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border-color: darkgray;
}

button:hover{
  background-color:darkblue;
}

button:active{
  background-color: #ffffff;
  color: #020239;
}

li{
  list-style-type: none;
}